<!DOCTYPE html>
<html>

<head>
    <title>The bug has been reported</title>
</head>

<body>
    <h1>The bug has been reported</h1>
    <p>Dear {{name}},</p>
    <p>
        We have received your bug report and are working on it.
        <br>
        We will get back to you as soon as possible.
        <br><br>
        <div style="background-color: #f5f5f5; padding: 10px; border-radius: 5px; font-style: italic;">
            {{content}}
        </div>
    </p>
</body>

</html>