<!DOCTYPE html>
<html>

<head>
    <title>Your password has been successfully reset</title>
</head>

<body>
    <h1>Reset Password Done</h1>
    <p>Hello {{name}},</p>
    <p>Your password has been successfully reset at {{date}}</p>
</body>

<p>
    <a href="https://landing.campusconnects.de/">Website</a>
</p>

</html>