<!DOCTYPE html>
<html>

<head>
    <title>Congradulation!</title>
</head>

<body>
    <h1>Congradulation!</h1>
    <p>Hello {{name}},</p>
    <p>Your account has been activated,</p>
    <h2>Welcome to the CampusConnects</h2>
</body>

</html>